<div style="text-align:center">
    <h1>
        {{ title }}
    </h1>
</div>

<p-card>
    <div>
        <p-dropdown [options]="users" [(ngModel)]="selectedUser" (onChange)="loadUserDailyEarnings()" placeholder="Select a user" optionLabel="name"></p-dropdown>
    </div>
</p-card>
<p-card *ngIf="earnings">
    <div>
        <p-dataTable [value]="earnings">
            <p-column field="date" header="DAY"></p-column>
            <p-column field="earnedBTC" header="BTC"></p-column>
            <p-column field="earnedUSD" header="USD"></p-column>
            <p-column field="earnedTotal" header="TOTAL BTC"></p-column>
        </p-dataTable>
    </div>
</p-card>

<p-card>
    <mg-messages></mg-messages>
</p-card>