.s-earning-pg {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .chart-box {
        margin: 16px;
        padding: 0 16px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
}

/deep/ div.ui-table.ui-widget {
    font-size: small;
}

/deep/ .ui-widget {
    font-size: small;
}

.earningsTitle {
    color: mediumblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

.customHr {
    width: 95%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bitcoinLabel {
    font-weight: bold;
    margin-right: 10px;
}

.bitcoinValue {
    color: crimson;
    font-weight: bold;
}